<div class="small-4 small-centered columns">
  <h2><%= @genre.name %></h2>

  <% if @genre.tracks.any? %>

    <h3>Tracks in this category:</h3>
    <% @genre.tracks.each do |track| %>
      <%= link_to track.name, track_path(track) %><br>
    <% else %>
      <p>No tracks have been added to this genre </p>
    <% end %>
  <% end %>
  
</div>